@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@400;600;700&display=swap');

:root {
    --dark-grey: #202020;
    --light: #FFC371;
    --contrast: #FF5F6D;
    --gradient: linear-gradient(45deg, #FFC371, #FF5F6D);
}

body {
    width: 100%;
    margin:0;
    font-family: 'Zilla Slab', serif;
    background-color: var(--dark-grey);
    height: 100vh;
}

header {
    text-align: center;
}

h1 {
    font-size: 48pt;
    font-weight: 700;
    background-image: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 500%;
    animation: gradient-shift 4s infinite alternate;
}

h2 {
    text-align: center;
    font-size: 22pt;
    font-weight: 600;
}

.main-content {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
}

.card {
    width: 30vw;
    max-width: 400px;
    animation: recede .5s forwards;
    background-color: var(--light);
    border-radius: 10px;
    margin-bottom: 1rem;
}

.card:hover {
    animation: wiggle-big .5s forwards;
}

.card-header {

}

.card-text {
    padding: .5rem 1rem;
}

@keyframes wiggle-big {
    15% {
        transform: rotate(-5deg);
    }
    30% {
        transform: rotate(5deg);
    }
    45% {
        transform: rotate(-5deg);
    }
    60% {
        transform: rotate(5deg);
        background-color: var(--light);
    }
    100% {
        transform: scale(110%);
        background-color: var(--contrast);
    }
}

@keyframes gradient-shift {
    0% {
        background-position: left;
    }
    100% {
        background-position: right;
    }
}